<section class="header-container">
    <header>
        <div class="logo">
            <a routerLink="/">MiTienda</a>
        </div>
        <div class="menu-desktop">
            <nav class="nav-desktop">
                <ul>
                    <li> 
                        <a routerLink="/produtos"> Produtos</a>
                    </li>
                    <li>
                        <a routerLink="/carrinho"> Carrinho</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="menu-mobile"></div>
    </header>
</section>