.product-view{
    border: 1px solid #d4d4d4;
    padding: 1rem;
    margin: 0rem 1rem;
    width: 400px;
    height: 350px;
    cursor: pointer;
}

.product-image{
    display: flex;
    justify-content: center;
    align-items: self-start;
}

.product-image img{
    max-width: 100%;
}

.product-name{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

@media screen and (max-width: 780px) {
    .product-view{
        margin: 1rem 3rem;
        width: 250px;
        height: 350px;
        cursor: pointer;
    }
}